/* Mobile first queries */
html {
    padding-top: 25px;
    background-image: url(images/bg_page.png);
}

body {
    width: 80%;
    min-width: 1100px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0,0,0,.5);
    background-color: #353535;
  }

.boxes {
    display: flex;
    flex-flow: row nowrap;
    margin: 0 auto;
}

.person {
    background: hsl(20, 40%, 90%);
    background-image: 
	    linear-gradient(90deg, #fb3 11px, transparent 0),
	    linear-gradient(90deg, #ab4 23px, transparent 0),
	    linear-gradient(90deg, #655 23px, transparent 0);
    background-size: 83px 100%, 61px 100%, 41px 100%;
    overflow: hidden;
    flex: 1;
    max-width: 1000px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.message {
    flex: 1;
    background-color: rgb(50,122,167);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

h5 {
    color: rgb(255,255,255);
    font-family: Arial, "Palatino Linotype", Times, serif;
    border-bottom: 2px solid rgb(87,185,178);
    padding-top: 10px;
    padding-left: 40px;
    padding-bottom: 5px;
    font-weight: bold;
    background: url(images/head-icon.png) no-repeat 10px 15px;    
}

p, .purpose ul li {
    color: #fff;
    font-size: 1.2em;
    line-height: 1.4;
    font-family: "Varela Round", Arial, Helvetica, sans-serif;
    margin-left: 40px;
    margin-right: 10px;
}

/* person */
.flip-container{
    box-sizing: content-box;
    perspective: 1000px;
    margin: 50vh auto 0;
    transform: translateY(-50%);
}
.flipper{
    transition: 1s;
    position: relative;
    transform-style: preserve-3d;
}
.flip-container, .fornt, .back{
    width: 320px;
    height: 480px;
}
.fornt, .back{
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}
.fornt{
    background-image: url(/static/images/person.jpg);
    background-size: cover;
    background-color: #4a71ba;
    transform: rotateY(0deg);
    z-index: 2;
}
.back{
    background-color: #fff;
    transform: rotateY(180deg);
}
.flip-container:hover .flipper{
  transform: rotateY(180deg);
}
/* end person */

dl {
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 105px);
    width: 210px;
    height: 100px;
}

dt, dd {
    display: inline;
}
dd {
    margin: 0;
    font-weight: bold;
}
dd + dt::before {
    content: "\A";
    white-space: pre;
}
dd + dd::before {
    content: ', ';
    font-weight: normal;
    margin-left: -.25em;
}

.back img {
    margin-top: 20px;
    margin-left: calc(50% - 60px);
}

.purpose ul li {
    float: left;
    list-style: none;   
}

.purpose {
    padding-bottom: 10px;
}

/* link */
.nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 20px 40px;
}
.nav a {
    width: 10%;
    text-align: center;
    text-decoration: none;
}
.btn{
    border: 2px solid transparent;
    border-radius: 0;
    text-transform: uppercase;
    position: relative;
    transition: all 0.3s ease 0s;
    padding: 0 auto;
}
.btn:before{
    content: "";
    height: 6px;
    border-bottom: 2px solid transparent;
    border-left: 2px solid transparent;
    position: absolute;
    bottom: -8px;
    left: 4px;
    right: -8px;
    transition: all 0.3s ease 0s;
}
.btn.btn-sm:before{
    height: 5px;
    bottom: -7px;
    left: 4px;
    right: -6px;
}
.btn:hover:before{
    bottom: -2px;
    left: -2px;
    right: 2px;
    border-color: #e16b47;
}
.btn:after{
    content: "";
    width: 6px;
    border-right: 2px solid transparent;
    border-top: 2px solid transparent;
    position: absolute;
    bottom: -8px;
    right: -8px;
    top: 4px;
    transition: all 0.3s ease 0s;
}
.btn.btn-sm:after{
    width: 5px;
    bottom: -7px;
    top: 2px;
    right: -7px;
}
.btn:hover:after{
    bottom: 2px;
    right: -2px;
    top: -2px;
    border-color: #e16b47;
}
.btn.blue,
.btn.blue:before,
.btn.blue:after{
    border-color: #5cbcf6;
    color: #5cbcf6;
}