{% extends 'learn/base.html' %}

{% block header %}
  <div class="jumbotron">
    <h1>Animate season.</h1>
  </div>
{% endblock header %}

{% block content %}
<div id="tabContainer">
  <ul class="index">
    <li><a href="#panel1">月曜日（星期一）</a></li>
    <li><a href="#panel2">火曜日（星期二）</a></li>
    <li><a href="#panel3">水曜日（星期三）</a></li>
    <li><a href="#panel4">木曜日（星期四）</a></li>
    <li><a href="#panel5">金曜日（星期五）</a></li>
    <li><a href="#panel6">土曜日（星期六）</a></li>
    <li><a href="#panel7">日曜日（星期日）</a></li>
  </ul>
  <!-- panel 1 -->
  <div id="panel1">
    <div class="part">
      <a href="http://umaru-ani.me/" target="view_window"><h1>干物妹！小埋R</h1></a>
      <div class="flexContainer">
        <figure>
          <img src="../static/images/2017.10/umaru.jpg" alt="umaru" height="600px" width="425px">
          <figcaption>
            <strong>制作人员</strong>
            <ul>
              <li>原作：三角头（集英社《周刊YOUNG JUMP》连载）</li>
              <li>监督：太田雅彦</li>
              <li>副监督：大隈孝晴</li>
              <li>系列构成：青岛崇</li>
              <li>剧本：青岛崇</li>
              <li>角色设计：高野绫</li>
              <li>色彩设计：真壁源太</li>
              <li>美术监督：三宅昌和</li>
              <li>摄影监督：桑野贵文</li>
              <li>编辑：小野寺绘美</li>
              <li>音响监督：虾名恭范</li>
              <li>音乐：三泽康广</li>
              <li>音响制作：神南Studio</li>
              <li>动画制作：动画工房</li>
              <li>制作：《干物妹！小埋R》制作委员会</li>
            </ul>
          </figcaption>
        </figure>
        <div class="content">
          <h2>内容</h2>
          <div class="mainContent">
            <p>小埋，复活！在房间无限展开的宇宙，再临……！</p>
            <p>在外人人称羡的才色兼备“美妹”，一回到家，就变身成不为人知的一心犯懒“干物妹”……！？极尽无所事事之能事的干物妹小埋，一手可乐一手薯片，沉浸于漫画、游戏、动画、网络……，将一同生活的哥哥太平放置在旁，忠于欲望向前突进！和同班同学海老名、切绘、希尔芬的关系也逐渐加深，小埋的日常变得越来越热闹！！！</p>
            <p>小埋的最强、最棒的日常，再次开始！</p>
          </div>
          <h2>角色配音</h2>
          <div class="characterContent">
            <ul>
              <li>土间埋：田中爱美</li>
              <li>土间太平：野岛健儿</li>
              <li>海老名菜菜：影山灯</li>
              <li>本场切绘：白石晴香</li>
              <li>橘·希尔芬福特：古川由利奈</li>
              <li>本场猛：安元洋贵</li>
              <li>橘·亚力克斯：柿原彻也</li>
              <li>叶课长：小清水亚美</li>
            </ul>
          </div>
          <div class="linkContent">
            <a href="http://bangumi.bilibili.com/anime/6446" target="view_window"><img src="../static/images/point.png" alt="link" height="75px" width="100px"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="part">
      <a href="http://imotosae.com/" target="view_window"><h1>如果有妹妹就好了。</h1></a>
      <div class="flexContainer">
        <figure>
          <img src="../static/images/2017.10/imodo.jpg" alt="imodo" height="600px" width="425px">
          <figcaption>
            <strong>制作人员</strong>
            <ul>
              <li>原作、系列构成、剧本：平坂读</li>
              <li>角色原案：监督</li>
              <li>监督：大沼心</li>
              <li>系列监督：玉村仁</li>
              <li>角色设计、总作画监督：木野下澄江</li>
              <li>主动画师：青木慎平</li>
              <li>道具设计：泉美纱子</li>
              <li>美术监督：坂上裕文</li>
              <li>色彩设计：平井麻实</li>
              <li>摄影监督：臼田睦</li>
              <li>编辑：REAL-T</li>
              <li>音响监督：土屋雅纪</li>
              <li>音乐：菊谷知树</li>
              <li>音乐制作：Lantis</li>
              <li>动画制作：SILVER LINK.</li>
            </ul>
          </figcaption>
        </figure>
        <div class="content">
          <h2>内容</h2>
          <div class="mainContent">
            <p>“如果有妹妹的话就能拥有最棒的人生了，为什么我却没有妹妹呢……？”</p>
            <p>专写妹系作品的妹控小说家羽岛伊月，身边聚集着各式各样不同个性的人物。有天才变态作家可儿那由多、女大学生白川京、插画家屁桃，以及鬼畜税务师大野艾希莉等等。</p>
            <p>伊月等人虽然各自有着不同的烦恼，但还是一边写着小说，玩着电玩，喝着酒，申报所得税，过着喧闹的日常生活。</p>
            <p>在一旁温暖守护着伊月等人的，是伊月的继弟千寻。然而，千寻竟藏着一个天大的秘密――。</p>
            <p>欢乐又锥心，由天才、凡人与怪咖所展开的多重路线青春恋爱喜剧，现在开演！</p>
          </div>
          <h2>角色配音</h2>
          <div class="characterContent">
            <ul>
              <li>羽岛伊月：小林裕介</li>
              <li>羽岛千寻：山本希望</li>
              <li>可儿那由多：金元寿子</li>
              <li>白川京：加隈亚衣</li>
              <li>不破春斗：日野聪</li>
              <li>土岐健次郎：鸟海浩辅</li>
              <li>惠那刹那：代永翼</li>
              <li>大野艾希莉：沼仓爱美</li>
              <li>三国山蚕：藤田茜</li>
            </ul>
          </div>
          <div class="linkContent">
            <a href="http://bangumi.bilibili.com/anime/6440" target="view_window"><img src="../static/images/point.png" alt="link" height="75px" width="100px"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="part">
      <a href="http://kujisuna-anime.com/" target="view_window"><h1>泥鲸之子们在沙地上歌唱</h1></a>
      <div class="flexContainer">
        <figure>
          <img src="../static/images/2017.10/kujiranoko.jpg" alt="kujiranoko" height="600px" width="425px">
          <figcaption>
            <strong>制作人员</strong>
            <ul>
              <li>原作：梅田阿比（秋田书店《月刊Mystery Bonita》连载）</li>
              <li>监督：石黑恭平</li>
              <li>系列构成：横手美智子</li>
              <li>角色设计：饭冢晴子</li>
              <li>美术监督：水谷利春（Moonflower）</li>
              <li>色彩设计：石田美由纪</li>
              <li>摄影监督：大河内喜夫</li>
              <li>编辑：后藤正浩（REAL-T）</li>
              <li>音响监督：明田川仁</li>
              <li>音乐：堤博明</li>
              <li>动画制作：J.C.STAFF</li>
              <li>制作：《泥鲸之子们在沙地上歌唱》制作委员会</li>
            </ul>
          </figcaption>
        </figure>
        <div class="content">
          <h2>内容</h2>
          <div class="mainContent">
            <p>砂刑历93年——……？”</p>
            <p>被砂海覆盖的世界中有一群人生活在小岛一般的漂泊船“泥鲸”上。</p>
            <p>这个完全与外界隔离的岛上有513人。</p>
            <p>分为拥有以感情发动源的超能力“情念动”却寿命较短的“印”，和没有超能力却寿命较长的“无印”两族的他们，形成小共同体并平稳地度日。</p>
            <p>岛上的记录员“印”族的查可洛某日在调查漂流到“泥鲸”的废墟船时，遇见了神秘少女“莉柯丝”。这次岛上人第一次与外界的接触，这会成为打开新世界的福音吗——？</p>
          </div>
          <h2>角色配音</h2>
          <div class="characterContent">
            <ul>
              <li>查克罗：花江夏树</li>
              <li>莉柯丝：石见舞菜香</li>
              <li>奥尼：梅原裕一郎</li>
              <li>斯沃：岛崎信长</li>
              <li>萨米：金元寿子</li>
              <li>吉恩修：小松未可子</li>
              <li>修安：神谷浩史</li>
              <li>柳达里：山下大辉</li>
            </ul>
          </div>
          <div class="linkContent">
            <a href="http://www.iqiyi.com/lib/m_215089814.html?src=search" target="view_window"><img src="../static/images/point.png" alt="link" height="75px" width="100px"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="part">
      <a href="http://animegataris.com/" target="view_window"><h1>动画同好会</h1></a>
      <div class="flexContainer">
        <figure>
          <img src="../static/images/2017.10/anime.jpg" alt="anime" height="600px" width="425px">
          <figcaption>
            <strong>制作人员</strong>
            <ul>
              <li>原作：DMM.futureworks/W-Toon Studio</li>
              <li>监督：森井健史郎</li>
              <li>系列构成：广田光毅</li>
              <li>剧本：广田光毅、田泽大典、山下宪一、笹野惠</li>
              <li>助监督：久保博志</li>
              <li>角色设计、总作画监督：衣谷早知</li>
              <li>美术监督：合六弘</li>
              <li>美术设定：袈裟丸绘美</li>
              <li>色彩设计：辻田邦夫</li>
              <li>摄影监督：寺本宪正</li>
              <li>编辑：丹彩子（Graphinica）</li>
              <li>音乐：帆足圭吾（MONACA）、高桥邦幸（MONACA）</li>
              <li>音响监督：长崎行男</li>
              <li>音响制作：Studio Mausu</li>
              <li>企划制作：DMM.futureworks/W-Toon Studio</li>
              <li>制作：咲钟湖学园动画研究部（DMM pictures、YTE、JY Animation）</li>
            </ul>
          </figcaption>
        </figure>
        <div class="content">
          <h2>内容</h2>
          <div class="mainContent">
            <p>刚刚进入私立咲钟湖学园高中部的阿佐谷未乃爱，虽然对动画了解程度不深，却莫名其妙地被同学上井草有栖强拉着成立了动画研究社。随着和同级生高圆寺美子以及喜欢动画的前辈们邂逅，未乃爱渐渐的迷上了动画。</p>
            <p>动画研究社的成员们一边要和执着于废除动画研究社的学生会斗争，一边还无比淡定的坚持自己的爱好——在社团活动室、秋叶原、圣地和温泉（等各种奇怪的地点）吐槽动画。</p>
          </div>
          <h2>角色配音</h2>
          <div class="characterContent">
            <ul>
              <li>阿佐谷未乃爱：本渡楓</li>
              <li>上井草有栖：千本木彩花</li>
              <li>高圆寺美子：東城日沙子</li>
              <li>中野光辉：寺島惇太</li>
              <li>武藏境块：伊藤節生</li>
              <li>青山绘里香：伊波杏樹</li>
              <li>小幡唯：高橋李依</li>
              <li>大崎菖蒲：高森奈津美</li>
              <li>赤羽椿：西明日香</li>
            </ul>
          </div>
          <div class="linkContent">
            <a href="http://bangumi.bilibili.com/anime/6441/
            " target="view_window"><img src="../static/images/point.png" alt="link" height="75px" width="100px"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="part">
      <a href="http://omitsuyo.w-anime.com/" target="view_window"><h1>相亲对象是强硬的问题学生</h1></a>
      <div class="flexContainer">
        <figure>
          <img src="../static/images/2017.10/omiai.jpg" alt="omiai" height="600px" width="425px">
          <figcaption>
            <strong>制作人员</strong>
            <ul>
              <li>原作：虎井シグマ</li>
              <li>监督、系列构成、剧本：三浦三郎</li>
              <li>角色设计、总作画监督：びんめ</li>
              <li>美术监督：片野坂悟一</li>
              <li>色彩设计：小松樱</li>
              <li>摄影监督、编辑：堀川和人</li>
              <li>音响监督：榎本崇宏</li>
              <li>音响制作：Studio Mausu</li>
              <li>动画制作：SEVEN</li>
              <li>作：©虎井シグマ/久我宗二の爱の教育委员会</li>
            </ul>
          </figcaption>
        </figure>
        <div class="content">
          <h2>内容</h2>
          <div class="mainContent">
            <p>女教师和她的学生……但是，是在婚约中？</p>
            <p>菜乃是受到学生崇拜的人气教师。但只有男学生宗二总会让她感到困扰。某天，她在熟人的介绍下去相亲。由于不成熟而在一开始充满不安的菜乃，逐渐敞开心扉，与相亲对象营造出不错的气氛。但，那个对象却是……竟然是变装了的宗二！虽然她断然拒绝了相亲，但宗二却以此为契机不分场合地展开攻势。认真的教师菜乃能够拒绝宗二的爱吗……？</p>
          </div>
          <h2>角色配音</h2>
          <div class="characterContent">
            <ul>
              <li>齐川菜乃：本泉莉奈（通常版）、青井美海（完全版）</li>
              <li>久我宗二：白井悠介（通常版）、古河彻人（完全版）</li>
              <li>高宫宗一郎：新垣樽助（通常版）、樱井真人（完全版）</li>
            </ul>
          </div>
          <div class="linkContent">
            <a href="http://www.tucao.tv/index.php?m=search&c=index&a=init2&catid=&time=&order=&username=&tag=&q=%E7%9B%B8%E4%BA%B2%E5%AF%B9%E8%B1%A1%E6%98%AF%E6%88%91%E6%95%99%E7%9A%84%E9%97%AE%E9%A2%98%E5%84%BF%E7%AB%A5" target="view_window"><img src="../static/images/point.png" alt="link" height="75px" width="100px"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- panel 2 -->
  <div id="panel2">
    <div class="part">
      <a href="http://uqholder.jp/" target="view_window"><h1>悠久持有者！～魔法老师! 2～</h1></a>
      <div class="flexContainer">
        <figure>
          <img src="../static/images/2017.10/holder.jpg" alt="holder" height="600px" width="425px">
          <figcaption>
            <strong>制作人员</strong>
            <ul>
              <li>原作：赤松健《UQ HOLDER!》（讲谈社《别册少年Magazine》连载）</li>
              <li>监督：铃木洋平</li>
              <li>系列构成：赤松健、安川正吾</li>
              <li>角色设计：藤井昌宏</li>
              <li>美术监督：铃木友成（Studio Tulip）</li>
              <li>色彩设计：船桥美香</li>
              <li>摄影监督：福世晋吾</li>
              <li>编辑：后藤正浩（Real-T）</li>
              <li>音响监督：鹤冈阳太</li>
              <li>效果：山谷尚人</li>
              <li>录音调整：椎原操志</li>
              <li>音响制作：乐音舍</li>
              <li>音乐：羽冈佳、石毛骏平</li>
              <li>音乐制作：King Records</li>
              <li>制片：EGG FIRM</li>
              <li>动画制作：J.C.STAFF</li>
              <li>制作：UQ Numbers（讲谈社、Lawson HMV Entertainment、GYAO、J.C.STAFF、EGG FIRM）</li>
            </ul>
          </figcaption>
        </figure>
        <div class="content">
          <h2>内容</h2>
          <div class="mainContent">
            <p>在平稳而乏味的乡村生活的少年·近卫刀太，有着前往都市一展宏图的梦想。为此，他每天都向养育了自己的亲人，同时也是优秀的魔法使·雪姬发起挑战。但，一边战斗一边和睦度日的两人面前出现的赏金猎人，宣告了平稳乡村生活的终结。</p>
            <p>这是一个，成为不正经者的人们的故事。</p>
          </div>
          <h2>角色配音</h2>
          <div class="characterContent">
            <ul>
              <li>近卫刀太：高仓有加</li>
              <li>雪姬：松冈由贵</li>
              <li>时坂九郎丸：广濑友纪</li>
              <li>涅吉·史普林菲尔德：佐藤利奈</li>
              <li>樱雨桐衣：茅野爱衣</li>
              <li>夏凛：小仓唯</li>
              <li>相坂小夜：白鸟由里</li>
              <li>绫濑夕映：桑谷夏子</li>
              <li>神乐坂明日菜：神田朱未</li>
              <li>络缲茶茶丸：渡边明乃</li>
              <li>佐佐木莳绘：堀江由衣</li>
              <li>龙宫真名：佐久间未帆</li>
              <li>宫崎和香：能登麻美子</li>
              <li>雪广绫香：皆川纯子</li>
              <li>菲特·亚维路克斯：石田彰</li>
            </ul>
          </div>
          <div class="linkContent">
            <a href="http://bangumi.bilibili.com/anime/6418" target="view_window"><img src="../static/images/point.png" alt="link" height="75px" width="100px"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="part">
      <a href="http://osomatsusan.com/" target="view_window"><h1>阿松 第二季</h1></a>
      <div class="flexContainer">
        <figure>
          <img src="../static/images/2017.10/os.jpg" alt="os" height="600px" width="425px">
          <figcaption>
            <strong>制作人员</strong>
            <ul>
              <li>原作：赤冢不二夫</li>
              <li>监督：藤田阳一</li>
              <li>角色设计：浅野直之</li>
              <li>系列构成：松原秀</li>
              <li>美术监督：田村盛挥</li>
              <li>色彩设计：垣田由纪子</li>
              <li>摄影监督：福士享</li>
              <li>编集：坂本久美子</li>
              <li>音乐：桥本由香利</li>
              <li>音乐制作：avex pictures</li>
              <li>动音响监督：菊田浩巳</li>
              <li>音响制作：乐音舍</li>
              <li>动画制作：Studio Pierrot</li>
            </ul>
          </figcaption>
        </figure>
        <div class="content">
          <h2>内容</h2>
          <div class="mainContent">
            <p>为纪念赤冢不二夫诞辰80周年而制作、播出的TV动画《阿松》第1期，以赤冢不二夫的著名搞笑漫画《阿松》为原作，于2015年10月至次年3月在东京电视台系列播出。以成长为废柴尼特大人的六胞胎为主人公，以一话完结的形式描绘，有笑有泪有温馨的无法预测搞笑喜剧，开播后立刻就成为了话题。</p>
            <p>2017年10月开播的第2期，也将由打造了第1期的STAFF、CAST再次集结。给人留下深刻记忆的六胞胎，在更上一层楼之后再度归来！</p>
            <p>暴走的六胞胎传说，已经没人能阻止了……！？</p>
          </div>
          <h2>角色配音</h2>
          <div class="characterContent">
            <ul>
              <li>松野小松：櫻井孝宏</li>
              <li>松野空松：中村悠一</li>
              <li>松野轻松：神谷浩史</li>
              <li>松野一松：福山潤</li>
              <li>松野十四松：小野大輔</li>
              <li>松野椴松：入野自由</li>
              <li>弱井鱼鱼子：遠藤綾</li>
              <li>井矢见：鈴村健一</li>
              <li>矮子太：國立幸</li>
            </ul>
          </div>
          <div class="linkContent">
            <a href="http://bangumi.bilibili.com/anime/6421/" target="view_window"><img src="../static/images/point.png" alt="link" height="75px" width="100px"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="part">
      <a href="http://netoju.com/close" target="view_window"><h1>网路胜利组</h1></a>
      <div class="flexContainer">
        <figure>
          <img src="../static/images/2017.10/kachigumi.jpg" alt="kachigumi" height="600px" width="425px">
          <figcaption>
            <strong>制作人员</strong>
            <ul>
              <li>原作：黑曜燐</li>
              <li>监督：柳沼和良</li>
              <li>副监督：传沙织</li>
              <li>系列构成：笔安一幸</li>
              <li>角色设计：海岛千本</li>
              <li>服装设计：めばち</li>
              <li>道具设计：今桥明日菜</li>
              <li>色彩设计：田中美穗</li>
              <li>美术监督：保木泉</li>
              <li>摄影监督：安西良行</li>
              <li>编辑：本田优规</li>
              <li>音响监督：乡田穗积</li>
              <li>音乐：Conisch</li>
              <li>音乐制作：FlyingDog</li>
              <li>动画制作：SIGNAL.MD</li>
            </ul>
          </figcaption>
        </figure>
        <div class="content">
          <h2>内容</h2>
          <div class="mainContent">
            <p>盛冈森子（♀），30岁·单身·尼特。脱离了现实世界。她追求着安息之地而到达的地方是——网络世界。</p>
            <p>“这世界真是糟透了。”脱离工薪族变成尼特的盛冈森子，为了追求充实的生活而出发前往网络世界。她到达的地方，是网络游戏——通称“网游”。在网游世界中，以有着一头柔顺头发的爽朗帅哥“林”的身份开始新生活的森子。就在她完全暴露是菜鸟而自暴自弃时，一位可爱的少女“莉莉”向她伸出了援助之手。“天使啊——！！！！”以遇到莉莉为契机，她交到了值得信赖的同伴，开始过起充实的网游生活。此时，在现实世界中，她与神秘的金发碧眼帅哥精英公司职员樱井优太冲击性地相遇了。</p>
          </div>
          <h2>角色配音</h2>
          <div class="characterContent">
            <ul>
              <li>盛冈森子：能登麻美子</li>
              <li>樱井优太：樱井孝宏</li>
              <li>小岩井誉：前野智昭</li>
              <li>藤本和臣：寺岛拓笃</li>
              <li>林：铃木崚汰</li>
              <li>莉莉：上田丽奈</li>
              <li>神户：中村悠一</li>
              <li>丁香：相坂优歌</li>
              <li>波可太郎：寸石和弘</li>
              <li>希美拉达：八木隆典</li>
            </ul>
          </div>
          <div class="linkContent">
            <a href="http://www.iqiyi.com/lib/m_215090014.html?src=search" target="view_window"><img src="../static/images/point.png" alt="link" height="75px" width="100px"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- panel 3 -->
  <div id="panel3">
    <div class="part">
      <a href="http://12taisen.com/" target="view_window"><h1>十二大战</h1></a>
      <div class="flexContainer">
        <figure>
          <img src="../static/images/2017.10/twelve.jpg" alt="twelve" height="600px" width="425px">
          <figcaption>
            <strong>制作人员</strong>
            <ul>
              <li>原作：《十二大战》西尾维新（集英社刊）</li>
              <li>原作插画：中村光</li>
              <li>监督：细田直人</li>
              <li>系列构成：村井贞之</li>
              <li>角色设计：嘉手苅睦</li>
              <li>音乐：椎名豪</li>
              <li>音乐制作：avex pictures</li>
              <li>动画制作：Graphinica</li>
              <li>制作：十二大战制作委员会</li>
            </ul>
          </figcaption>
        </figure>
        <div class="content">
          <h2>内容</h2>
          <div class="mainContent">
            <p>充满荣耀的十二战士的，血战记录——</p>
            <p>十二年一度开办的第十二回十二大战。拥有干支之名的十二名刚猛战士，赌上各自的性命与灵魂交战。参加者是“子”“丑”“寅”“卯”“辰”“巳”“午”“未”“申”“酉”“戌”“亥”十二名异样的战士。</p>
            <p>在此战中胜利者，能够实现任何一个愿望。无论如何都想要实现的唯一一个愿望——</p>
            <p>活到最后的是谁？在谋略与杀戮席卷的战场上，落下的是谁的眼泪？惊心动魄的混合大战，开战。</p>
          </div>
          <h2>角色配音</h2>
          <div class="characterContent">
            <ul>
              <li>寝住：堀江瞬</li>
              <li>失井：梅原裕一郎</li>
              <li>妬良：五十岚裕美</li>
              <li>忧城：冈本信彦</li>
              <li>断罪兄弟·兄：江口拓也</li>
              <li>断罪兄弟·弟：鸟海浩辅</li>
              <li>迂迂真：绿川光</li>
              <li>必爷：长岛雄一</li>
              <li>砂粒：早见沙织</li>
              <li>庭取：佐仓绫音</li>
              <li>怒突：西村朋纮</li>
              <li>异能肉：日笠阳子</li>
            </ul>
          </div>
          <div class="linkContent">
            <a href="http://bangumi.bilibili.com/anime/6420/" target="view_window"><img src="../static/images/point.png" alt="link" height="75px" width="100px"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="part">
      <a href="http://shokugekinosoma.com/" target="view_window"><h1>食戟之灵 餐之皿</h1></a>
      <div class="flexContainer">
        <figure>
          <img src="../static/images/2017.10/shokugekinosoma.jpg" alt="shokugekinosoma" height="600px" width="425px">
          <figcaption>
            <strong>制作人员</strong>
            <ul>
              <li>原作：附田祐斗、佐伯俊（集英社《周刊少年JUMP》连载）</li>
              <li>协力：森崎友纪</li>
              <li>监督：米谷良知</li>
              <li>系列构成：安川正吾</li>
              <li>角色设计：下谷智之</li>
              <li>助监督：サトウ光敏</li>
              <li>美术监督：备前光一郎</li>
              <li>色彩设计：伊藤由纪子</li>
              <li>摄影监督：黑泽丰</li>
              <li>编集：近藤勇二（REAL-T）</li>
              <li>音响监督：明田川仁</li>
              <li>音乐：加藤达也</li>
              <li>动画制作：J.C.STAFF</li>
            </ul>
          </figcaption>
        </figure>
        <div class="content">
          <h2>内容</h2>
          <div class="mainContent">
            <p>在老家的餐饮店“幸平餐馆”一边帮忙下厨一边磨炼厨艺的幸平创真，前往超级精英料理学校“远月茶寮料理学园”入学。幸平创真在学园中与各式各样的料理人相遇并不断成长着，同时也开始摸索“只属于自己的料理”。</p>
            <p>幸平创真在真实餐厅学习的“在职料理课程”中进一步积累了经验，突破了以往的自己，习得了新的料理，成功完成了课程并且迎来了新的成长。</p>
            <p>实地研修结束后，幸平创真在不断练习厨艺中度过每一天，并终于在“赏红叶会”向学园的顶点远月十杰发起了挑战。</p>
            <p>创真和远月十杰盯上了远月例行的学园祭“月飨祭”，每年有50万客人造访的怪物活动，他们会发生什么事？</p>
            <p>另一方面，背后一些人在悄然实施着计划――？创真新的战斗拉开了序幕！</p>
          </div>
          <h2>角色配音</h2>
          <div class="characterContent">
            <ul>
              <li>幸平创真：松冈祯丞</li>
              <li>薙切绘里奈：金元寿子</li>
              <li>田所惠：高桥未奈美</li>
              <li>塔克米·阿尔迪尼：花江夏树</li>
              <li>伊萨米·阿尔迪尼：小野友树</li>
              <li>新户绯沙子：大西沙织</li>
              <li>薙切爱丽丝：赤崎千夏</li>
              <li>黑木场凉：冈本信彦</li>
              <p>......</p>
            </ul>
          </div>
          <div class="linkContent">
            <a href="http://www.iqiyi.com/lib/m_215068414.html?src=search" target="view_window"><img src="../static/images/point.png" alt="link" height="75px" width="100px"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="part">
      <a href="http://www.osakefufu-anime.jp/" target="view_window"><h1>品酒要在成为夫妻后</h1></a>
      <div class="flexContainer">
        <figure>
          <img src="../static/images/2017.10/osake.jpg" alt="osake" height="600px" width="425px">
          <figcaption>
            <strong>制作人员</strong>
            <ul>
              <li>原作：クリスタルな洋介《品酒要在成为夫妻后》（小学馆「Yawaraka Spirits」连载中）</li>
              <li>总监督、音响监督：平泽久义</li>
              <li>监督：橘沙织</li>
              <li>角色设计：花井柚都子</li>
              <li>系列构成、剧本：WORDS in STEREO</li>
              <li>色彩设计：空久保美贵</li>
              <li>摄影监督：林幸司</li>
              <li>音乐：ISAO</li>
              <li>动画制作人：畑中太一</li>
              <li>动画制作：Creators in Pack</li>
              <li>制作：《品酒要在成为夫妻后》制作委员会</li>
            </ul>
          </figcaption>
        </figure>
        <div class="content">
          <h2>内容</h2>
          <div class="mainContent">
            <p>沉默寡言但很优秀的美女主任水泽千里，有个只有自己的丈夫壮良知道的秘密。那就是她非常爱喝酒，而且喝醉后会变得超可爱！</p>
            <p>今晚她也在品味着壮良制作的鸡尾酒，陷入“至福”的微醺当中❤日本第一恩爱夫妇的“醉娇”鸡尾酒喜剧！</p>
          </div>
          <h2>角色配音</h2>
          <div class="characterContent">
            <ul>
              <li>水泽壮良：市来光弘</li>
              <li>水泽千里：喜多村英梨</li>
              <li>白石结：朝井彩加</li>
              <li>樱井小春：仲田亚里沙</li>
            </ul>
          </div>
          <div class="linkContent">
            <a href="http://bangumi.bilibili.com/anime/6423" target="view_window"><img src="../static/images/point.png" alt="link" height="75px" width="100px"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="part">
      <a href="http://www.infini-tforce.com/" target="view_window"><h1>Infini-T Force</h1></a>
      <div class="flexContainer">
        <figure>
          <img src="../static/images/2017.10/infini-T.jpg" alt="infini-T" height="600px" width="425px">
          <figcaption>
            <strong>制作人员</strong>
            <ul>
              <li>原作、动画制作：龙之子工作室</li>
              <li>监督：铃木清崇</li>
              <li>系列构成：大野敏哉</li>
              <li>角色原案：大暮维人</li>
              <li>英雄设计原案：佐藤敬一</li>
              <li>套装、机械设计：中北晃二</li>
              <li>编辑：奥田浩史</li>
              <li>音乐：山田丰</li>
              <li>音响监督：明田川仁</li>
              <li>3DCG制作：Digital Frontier</li>
              <li>制作著作：Infini-T Force制作委员会（日本电视台、龙之子工作室、Digital Frontier、松竹株式会社、CSPG、日本电视台音乐、Hulu、波丽佳音、角川书店、Bushiroad、Horipro、读卖电视台、札幌电视台、宫城电视台、静冈第一电视台、中京电视台、广岛电视台、福冈放送）</li>
            </ul>
          </figcaption>
        </figure>
        <div class="content">
          <h2>内容</h2>
          <div class="mainContent">
            <p>科学小飞侠——与企图征服世界的邪恶组织恶魔党交战，由5位少年少女组成的特殊队伍“科学忍者队”的可靠队长。</p>
            <p>卡辛——为了从对人类掀起反旗的机器人军·改造人军团的手中保护人类，而舍弃了自己的肉体，化作“新造人类”的孤高战士。</p>
            <p>破里拳——隐藏真实身份居于侦探事务所，对横行街道的恶人们挥下正义的铁锤，“破里拳”流的好手。</p>
            <p>铁甲人——为了将人类从濒临灭亡的地球导向新天地，身披装甲，向来自宇宙的侵略者恶党星团发起挑战的“宇宙骑士”。</p>
            <p>为和平而战的四位英雄，穿越时空集结于现代的涩谷。他们的目的是拯救世界——以及拯救一名少女。传说的英雄们的全新战斗，现在再度开始。</p>
          </div>
          <h2>角色配音</h2>
          <div class="characterContent">
            <ul>
              <li>科学小飞侠/鹫尾健：关智一</li>
              <li>宇宙骑士/南城二：樱井孝宏</li>
              <li>破里拳/锴武士：铃村健一</li>
              <li>卡辛/东铁也：齐藤壮马</li>
              <li>界堂笑：茅野爱衣</li>
              <li>Z：斧敦</li>
              <li>拉夏·坎：安元洋贵</li>
              <li>达米安·格雷：平川大辅</li>
            </ul>
          </div>
          <div class="linkContent">
            <a href="http://bangumi.bilibili.com/anime/6452" target="view_window"><img src="../static/images/point.png" alt="link" height="75px" width="100px"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- panel 4 -->
  <div id="panel4">
    <div class="part">
      <a href="http://konohanatei.jp/" target="view_window"><h1>此花绮谭</h1></a>
      <div class="flexContainer">
        <figure>
          <img src="../static/images/2017.10/konohana.jpg" alt="konohana" height="600px" width="425px">
          <figcaption>
            <strong>制作人员</strong>
            <ul>
              <li>原作：天乃咲哉（月刊Birz·幻冬舍Comics刊）</li>
              <li>监督：冈本英树</li>
              <li>系列构成：吉冈孝夫</li>
              <li>角色设计：黑泽桂子</li>
              <li>音乐：菊地创</li>
              <li>动画制作：Lerche</li>
              <li>制作：此花亭奇谭制作委员会</li>
            </ul>
          </figcaption>
        </figure>
        <div class="content">
          <h2>内容</h2>
          <div class="mainContent">
            <p>侍奉神明的狐娘们工作的温泉旅馆“此花亭”。</p>
            <p>“此花绮谭”便是来此花葶服务的新人服务员柚，和围绕着柚的伙伴们的暖人心怀的故事。</p>
            <p>服务员们想法只有一个。</p>
            <p>“不论真实身份是什么，不论是何等样人，客人就是神。”</p>
            <p>当然，现在在眼前的你也是……</p>
            <p>请接触柚她们的“招待”，来治愈疲惫的心吧。</p>
          </div>
          <h2>角色配音</h2>
          <div class="characterContent">
            <ul>
              <li>柚：大野柚布子</li>
              <li>皐：秦佐和子</li>
              <li>枣：诹访彩花</li>
              <li>莲：久保田梨沙</li>
              <li>樱：加隈亚衣</li>
              <li>桐：沼仓爱美</li>
              <li>老板娘：绪方惠美</li>
              <li>八百比丘尼：大原沙耶香</li>
            </ul>
          </div>
          <div class="linkContent">
            <a href="http://bangumi.bilibili.com/anime/6425" target="view_window"><img src="../static/images/point.png" alt="link" height="75px" width="100px"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="part">
      <a href="http://majimesugiru-anime.jp/" target="view_window"><h1>关于我女友是个一本正经的碧池这件事</h1></a>
      <div class="flexContainer">
        <figure>
          <img src="../static/images/2017.10/kanojo.jpg" alt="kanojo" height="600px" width="425px">
          <figcaption>
            <strong>制作人员</strong>
            <ul>
              <li>原作：松本ナミル（角川Comics Ace）</li>
              <li>监督：长山延好</li>
              <li>系列构成：白根秀树</li>
              <li>角色设计：安田祥子</li>
              <li>音响监督：横田知加子</li>
              <li>音响制作：Glovision</li>
              <li>音乐：泷泽俊辅</li>
              <li>音乐制作：日本哥伦比亚</li>
              <li>动画制作：diomedéa × Studio Blanc.</li>
              <li>制作：过度认真的制作委员会</li>
            </ul>
          </figcaption>
        </figure>
        <div class="content">
          <h2>内容</h2>
          <div class="mainContent">
            <p>度过普通的学校生活，分到普通的班级，普通地恋爱，下定决心告白……</p>
            <p>讴歌着这种正经到极点的青春的篠崎遥。</p>
            <p>但只有他恋爱的对象并不“普通”。——</p>
            <p>满溢而出的种种粗鄙之语！</p>
            <p>无所顾虑地涌出的刺激的性知识！</p>
            <p>但，一切都是为了成为健全而圆满的恋人——</p>
            <p>没错，这是毋庸置疑的纯爱物语！</p>
          </div>
          <h2>角色配音</h2>
          <div class="characterContent">
            <ul>
              <li>香坂秋穗：悠木碧</li>
              <li>篠崎遥：市来光弘</li>
              <li>有山雫：武田罗梨沙多胡</li>
              <li>西城梨奈：山田奈都美</li>
              <li>篠崎奏多：八木侑纪</li>
            </ul>
          </div>
          <div class="linkContent">
            <a href="http://bangumi.bilibili.com/anime/6440" target="view_window"><img src="../static/images/point.png" alt="link" height="75px" width="100px"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- panel 5 -->
  <div id="panel5">
    <div class="part">
      <a href="http://www.pokemon.co.jp/" target="view_window"><h1>精灵宝可梦太阳月亮</h1></a>
      <div class="flexContainer">
        <figure>
          <img src="../static/images/2017.10/pokemon.jpg" alt="pokemon" height="600px" width="425px">
          <figcaption>
            <strong>制作人员</strong>
            <ul>
              <li>总监督：汤山邦彦</li>
              <li>监督：富安大贵</li>
              <li>系列构成：松井亚弥</li>
              <li>角色设计：中野悟史、安田周平</li>
              <li>美术监督：武藤正敏</li>
              <li>色彩设计：吉野记通</li>
              <li>摄影监督：白井久男</li>
              <li>编集：边见俊夫</li>
              <li>音乐：宫崎慎二</li>
              <li>音响监督：三间雅文</li>
            </ul>
          </figcaption>
        </figure>
        <div class="content">
          <h2>内容</h2>
          <div class="mainContent">
            <p>小智与皮卡丘新的冒险开始了！</p>
            <p>新的冒险舞台是自然资源丰富的阿罗拉地区。在阿罗拉地区这个四处都是蔚蓝的天空和蓝色的大海的地方，等待着小智和皮卡丘的是？</p>
            <p>新的精灵宝可梦，新的伙伴，以及新的经历……新的冒险旅程终于拉开了帷幕！</p>
            <p>去吧！全力！大冒险！！</p>
          </div>
          <h2>角色配音</h2>
          <div class="characterContent">
            <ul>
              <li>小智的皮卡丘：大谷育江</li>
              <li>玛奥：上田麗奈</li>
              <li>水莲：菊地瞳</li>
              <li>莉莉艾：真堂圭</li>
              <li>洛托姆图鉴：浪川大輔</li>
              <li>卡奇：石川界人</li>
              <li>马玛内：武隈史子</li>
              <li>大木校长：石冢运升</li>
              <li>小智：松本梨香</li>
            </ul>
          </div>
          <div class="linkContent">
            <a href="http://v.pptv.com/show/hzITkPhezgxv7fE.html" target="view_window"><img src="../static/images/point.png" alt="link" height="75px" width="100px"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="part">
      <a href="http://justbecause.jp/" target="view_window"><h1>Just Because!</h1></a>
      <div class="flexContainer">
        <figure>
          <img src="../static/images/2017.10/just.jpg" alt="just" height="600px" width="425px">
          <figcaption>
            <strong>制作人员</strong>
            <ul>
              <li>原作：FOA</li>
              <li>监督：小林敦</li>
              <li>系列构成、剧本：鸭志田一</li>
              <li>角色原案：比村奇石</li>
              <li>角色设计：吉井弘幸</li>
              <li>道具设定：高田晃</li>
              <li>美术监督：冈本有香</li>
              <li>美术设定：金子英俊</li>
              <li>色彩设计：坂上康治</li>
              <li>撮影监督：小川克人</li>
              <li>音乐监制：やなぎなぎ</li>
              <li>音乐：やなぎなぎ、深泽惠梨香</li>
              <li>音乐制作：NBC环球娱乐日本、INCS toenter</li>
              <li>动画制片人：冈峠和喜</li>
              <li>动画制作：PINE JAM</li>
              <li>制作：Just Because!制作委员会（NBC环球、月铃舎、PINE JAM、创通、TOKYO MX、AT-X、BS富士）</li>
            </ul>
          </figcaption>
        </figure>
        <div class="content">
          <h2>内容</h2>
          <div class="mainContent">
            <p>高三的冬天，所剩无几的高中生活。大家都认为就这么毫无波澜地迎来毕业之日。</p>
            <p>直到某一天，他突然回来了。</p>
            <p>在中学时搬去遥远城镇的同学。与不合时节的转学生的再次相见，伴随着某种不确定的感情，转变开始的信号发出了微弱的声响。</p>
          </div>
          <h2>角色配音</h2>
          <div class="characterContent">
            <ul>
              <li>泉瑛太：市川蒼</li>
              <li>夏目美绪：礒部花凜</li>
              <li>相马阳斗：村田太志</li>
              <li>森川叶月：芳野由奈</li>
              <li>小宫惠那：Lynn</li>
              <li>乾依子：櫻庭有紗</li>
              <li>高桥早苗：貫井柚佳</li>
              <li>铃木桃花：近藤玲奈</li>
              <li>佐藤真由子：千本木彩花</li>
            </ul>
          </div>
          <div class="linkContent">
            <a href="http://bangumi.bilibili.com/anime/6427" target="view_window"><img src="../static/images/point.png" alt="link" height="75px" width="100px"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="part">
      <a href="http://girls-last-tour.com/" target="view_window"><h1> 少女终末旅行</h1></a>
      <div class="flexContainer">
        <figure>
          <img src="../static/images/2017.10/whitefox.jpg" alt="whitefox" height="600px" width="425px">
          <figcaption>
            <strong>制作人员</strong>
            <ul>
              <li>原作：つくみず（新潮社“KURAGE BUNCH”连载）</li>
              <li>监督：尾崎隆晴</li>
              <li>系列构成、剧本：笔安一幸</li>
              <li>角色设计、总作画监督：户田麻衣</li>
              <li>Kettenkrad设计、模型：相马洋</li>
              <li>道具设计：岩畑刚一、铃木典孝</li>
              <li>美术设定：平田亮、石本刚启、石森连、森木靖泰</li>
              <li>美术监督：三宅昌和</li>
              <li>色彩设计：金光洋靖（Wish）</li>
              <li>特效监修：谷口久美子（Team Taniguchi）</li>
              <li>摄影监督：染谷和正（T2studio）</li>
              <li>3D监督：菱川帕特里夏（IKIF+）</li>
              <li>编辑：后藤正浩（REAL-T）</li>
              <li>音响监督：明田川仁</li>
              <li>音乐：末广健一郎</li>
              <li>音乐制作：KADOKAWA</li>
              <li>动画制作：WHITE FOX</li>
              <li>制作：《少女终末旅行》制作委员会</li>
            </ul>
          </figcaption>
        </figure>
        <div class="content">
          <h2>内容</h2>
          <div class="mainContent">
            <p>人类繁华的文明迎来终结的很久以后，人类基本灭绝，甚至生物都不再存在的末日世界。复杂够高的都市成为迷宫般的废墟，得不到维护的机械渐渐停止运转。连何时终结了，何时开始终结的思考都不复存在的这个世界，2名少女继续着她们的旅行。千户与尤莉今天也坐着爱车半履带摩托在废墟中彷徨。</p>
            <p>在终末世界中温暖地求生的反乌托邦幻想剧，就此开幕。</p>
          </div>
          <h2>角色配音</h2>
          <div class="characterContent">
            <ul>
              <li>千户：水瀬いのり</li>
              <li>尤莉：久保ユリカ</li>
              <li>金泽：石田彰</li>
              <li>石井：三石琴乃</li>
            </ul>
          </div>
          <div class="linkContent">
            <a href="http://bangumi.bilibili.com/anime/6463" target="view_window"><img src="../static/images/point.png" alt="link" height="75px" width="100px"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="part">
      <a href="http://www.inuyashiki-project.com/" target="view_window"><h1>犬屋敷</h1></a>
      <div class="flexContainer">
        <figure>
          <img src="../static/images/2017.10/inuyashiki.jpg" alt="inuyashiki" height="600px" width="425px">
          <figcaption>
            <strong>制作人员</strong>
            <ul>
              <li>原作：奥浩哉（讲谈社《Evening》连载）</li>
              <li>总监督：佐藤敬一</li>
              <li>监督：薮田修平</li>
              <li>系列构成、脚本：濑古浩司</li>
              <li>角色设计：恩田尚之</li>
              <li>音乐：池赖广</li>
              <li>动画制作：MAPPA</li>
            </ul>
          </figcaption>
        </figure>
        <div class="content">
          <h2>内容</h2>
          <div class="mainContent">
            <p>平凡无奇，将近60岁的普通上班族‧犬屋敷壹郎，过着被公司和家庭疏远的日子，然而突然有一天，还被医生宣告将不久于人世而变得自暴自弃。</p>
            <p>那晚，被卷入突如其来的UFO坠落，转变为机械身体的他得到了远远超越人类力量。</p>
            <p>另一方面，遭遇到同样事故的高中生·狮子神，开始随心所欲地使用他所获得的力量。</p>
            <p>不断伤害不合己意之人的狮子神，与不断拯救被狮子神所伤害之人的犬屋敷。</p>
            <p>人类的本质究竟是善还是恶……</p>
            <p>得到强大力量的两人，如今，因各自的想法开始行动——</p>
          </div>
          <h2>角色配音</h2>
          <div class="characterContent">
            <ul>
              <li>犬屋敷壹郎：小日向文世</li>
              <li>狮子神皓：村上虹郎</li>
              <li>安堂直行：本乡奏多</li>
              <li>犬屋敷麻理：上坂堇</li>
              <li>渡边心音：诸星堇</li>
            </ul>
          </div>
          <div class="linkContent">
            <a href="http://www.soku.com/search_video/q_%E7%8A%AC%E5%B1%8B%E6%95%B7?spm=a2hww.20023042.#qheader_search~10" target="view_window"><img src="../static/images/point.png" alt="link" height="75px" width="100px"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- panel 6 -->
  <div id="panel6">
    <div class="part">
      <a href="http://www.kinonotabi-anime.com/" target="view_window"><h1>奇诺之旅</h1></a>
      <div class="flexContainer">
        <figure>
          <img src="../static/images/2017.10/kinonotabi.jpg" alt="kinonotabi" height="600px" width="425px">
          <figcaption>
            <strong>制作人员</strong>
            <ul>
              <li>原作: 時雨沢恵一（電撃文庫刊）</li>
              <li>导演: 田口智久</li>
              <li>脚本: 菅原雪絵</li>
              <li>人物原案: 黒星紅白</li>
              <li>人物设定: アミサキリョウコ(網嵜涼子)</li>
              <li>系列构成: 菅原雪絵</li>
              <li>色彩设计: 合田沙織</li>
              <li>总作画监督: 立川聖治、網嵜涼子</li>
              <li>原画: 川口弘明、立川聖治、張鵬、雨宮英雄、小澤和則</li>
              <li>主题歌演出: やなぎなぎ</li>
              <li>动画制作: ラルケ</li>
              <li>制作: EGG FIRM</li>
            </ul>
          </figcaption>
        </figure>
        <div class="content">
          <h2>内容</h2>
          <div class="mainContent">
            <p>奇诺离开了自己居住的国家，与师傅和艾尔梅斯一起在森林中的小屋里住了下来。除了一边帮助师傅做杂活外，还会接受枪械和驾车训练。就这样每天驾着艾尔梅斯练习。某天，奇诺去河边打水，遇上了一位旅行者，他与曾经为了救奇诺而牺牲自己的青年有着同样的打扮，这勾起了奇诺的回忆并使自己与其交谈起来。自此之后，奇诺下定了决心，要开始她自己的旅程。</p>
          </div>
          <h2>角色配音</h2>
          <div class="characterContent">
            <ul>
              <li>奇诺：悠木碧</li>
              <li>汉密斯：斉藤壮馬</li>
              <li>西兹：梅原裕一郎</li>
              <li>陆：松田健一郎</li>
              <li>蒂：佐倉綾音</li>
              <li>师父：沢田敏子 / Lynn</li>
              <li>伙伴：興津和幸</li>
              <li>芙特：水瀬いのり</li>
            </ul>
          </div>
          <div class="linkContent">
            <a href="http://www.tucao.tv/index.php?m=search&c=index&a=init2&catid=&time=1510460292&order=&username=&tag=&q=%E5%A5%87%E8%AF%BA%E4%B9%8B%E6%97%85" target="view_window"><img src="../static/images/point.png" alt="link" height="75px" width="100px"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="part">
      <a href="http://vanishing-line.jp/" target="view_window"><h1>牙狼 VANISHING LINE</h1></a>
      <div class="flexContainer">
        <figure>
          <img src="../static/images/2017.10/vanishing.jpg" alt="vanishing" height="600px" width="425px">
          <figcaption>
            <strong>制作人员</strong>
            <ul>
              <li>原作：雨宫庆太</li>
              <li>监督：朴性厚</li>
              <li>系列构成：吉村清子</li>
              <li>剧本：村越繁、金田一明、安永丰、篠冢智子</li>
              <li>角色原案：冈崎能士</li>
              <li>角色设计、总作画监督：岸友洋</li>
              <li>道具设计：佐野誉幸</li>
              <li>美术监督：峰田佳实</li>
              <li>美术设定：大久保修一、友野加世子、乘末美穗</li>
              <li>色彩设计：忽那亚美</li>
              <li>摄影监督：KIM BOO CHEOL</li>
              <li>CG监督：泽村武马</li>
              <li>特殊效果：入佐芽咏美</li>
              <li>动态图形：sankaku△</li>
              <li>编辑：广濑清志</li>
              <li>音乐：高田龙一、广川惠一（MONACA）</li>
              <li>动画制作：MAPPA</li>
              <li>制作：东北新社</li>
            </ul>
          </figcaption>
        </figure>
        <div class="content">
          <h2>内容</h2>
          <div class="mainContent">
            <p>高度发展的都市，拉塞尔市。</p>
            <p>在讴歌繁荣的这座城市中，动摇这个世界的巨大阴谋开始启动——</p>
            <p>立刻察知阴谋动向的男人索德，为了揭露阴谋而投身于不为人知的战斗当中。但他得到的线索却只有“El Dorado”这样的关键字而已。在战斗当中，索德遇到了一位名叫索菲亚的少女。索菲亚也在寻求着失踪的哥哥皇后留下的讯息“El Dorado”的含义。索菲亚失去了皇后，而索德也有过失去妹妹的过去。被“El Dorado”这一字句所吸引的两人，从对方身上感受到看不见的羁绊，并开始一同行动。</p>
            <p>就这样，各自的心意交错的旅程开始了——</p>
          </div>
          <h2>角色配音</h2>
          <div class="characterContent">
            <ul>
              <li>索德：关智一</li>
              <li>索菲亚：钉宫理惠</li>
              <li>卢克：岛崎信长</li>
              <li>吉娜：小清水亚美</li>
              <li>服务员智秋：高桥智秋</li>
              <li>修女：田中敦子</li>
              <li>骑士：浪川大辅</li>
              <li>皇后：朴璐美</li>
              <li>教士：堀内贤雄</li>
              <li>扎尔巴：影山浩宣</li>
              <li>飞龙：土师孝也</li>
            </ul>
          </div>
          <div class="linkContent">
            <a href="http://search.pptv.com/s_video?kw=%E7%89%99%E7%8B%BC%20-VANISHING%20LINE-" target="view_window"><img src="../static/images/point.png" alt="link" height="75px" width="100px"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="part">
      <a href="http://yuyuyu.tv/washio/" target="view_window"><h1>结城友奈是勇者 鹫尾须美之章/勇者之章</h1></a>
      <div class="flexContainer">
        <figure>
          <img src="../static/images/2017.10/yuki.jpg" alt="yuki" height="600px" width="425px">
          <figcaption>
            <strong>制作人员</strong>
            <ul>
              <li>导演: 福岡大生</li>
              <li>脚本: 上江洲誠、タカヒロ</li>
              <li>音乐: 岡部啓一、MONACA</li>
              <li>人物原案: BUNBUN</li>
              <li>人物设定: 酒井孝裕</li>
              <li>系列构成: 上江洲誠</li>
              <li>总作画监督: 酒井孝裕</li>
              <li>原案: タカヒロ</li>
              <li>动画制作: Studio五組</li>
              <li>总导演: 岸誠二</li>
            </ul>
          </figcaption>
        </figure>
        <div class="content">
          <h2>内容</h2>
          <div class="mainContent">
            <p>《结城友奈是勇者》的2年前。鹫尾须美小学六年级，被神树选为守护世界的勇者。她与同级生乃木园子、三之轮银一起，一边珍视着无可替代的日常，一边确实完成着任务。</p>
            <p>之后，故事由鹫尾须美转向结城友奈。在过着和平日常的赞州中学勇者部，发生的事件是？</p>
          </div>
          <h2>角色配音</h2>
          <div class="characterContent">
            <ul>
              <li>三之轮银：花守ゆみり</li>
              <li>乃木园子：花澤香菜</li>
              <li>东乡美森：三森すずこ</li>
              <li>结城友奈：照井春佳</li>
              <li>犬吠埼风：内山夕実</li>
              <li>犬吠埼树：黒沢ともよ</li>
              <li>三好夏凛：長妻樹里</li>
            </ul>
          </div>
          <div class="linkContent">
            <a href="http://bangumi.bilibili.com/anime/6448" target="view_window"><img src="../static/images/point.png" alt="link" height="75px" width="100px"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="part">
      <a href="http://land-of-the-lustrous.com/" target="view_window"><h1>宝石之国</h1></a>
      <div class="flexContainer">
        <figure>
          <img src="../static/images/2017.10/kuni.jpg" alt="kuni" height="600px" width="425px">
          <figcaption>
            <strong>制作人员</strong>
            <ul>
              <li>原作：市川春子《宝石之国》（讲谈社《Afternoon》连载）</li>
              <li>监督：京极尚彦</li>
              <li>系列构成：大野敏哉</li>
              <li>角色设计：西田亚沙子</li>
              <li>CG总监督：井野元英二</li>
              <li>概念艺术：西川洋一</li>
              <li>色彩设计：三笠修</li>
              <li>摄影监督：藤田贤治</li>
              <li>编辑：今井大介</li>
              <li>音乐：藤泽庆昌</li>
              <li>音响监督：长崎行男</li>
              <li>动画制作：Orange</li>
            </ul>
          </figcaption>
        </figure>
        <div class="content">
          <h2>内容</h2>
          <div class="mainContent">
            <p>这是关于成长的故事——</p>
            <p>这是关于友情的故事——</p>
            <p>这是关于战斗的故事——</p>
          </div>
          <h2>角色配音</h2>
          <div class="characterContent">
            <ul>
              <li>磷叶石：黑泽朋世</li>
              <li>辰砂：小松未可子</li>
              <li>钻石：茅野爱衣</li>
              <li>圆粒金刚石：佐仓绫音</li>
              <li>摩根石：田村睦心</li>
              <li>透绿柱石：早见沙织</li>
              <li>金红石：内山夕实</li>
              <li>翡翠：高垣彩阳</li>
              <li>红绿柱石：内田真礼</li>
              <li>紫水晶：伊藤加奈惠</li>
              <li>蓝锥矿：小泽亚李</li>
              <li>柱星叶石：种崎敦美</li>
              <li>锆石：茜屋日海夏</li>
              <li>黑曜石：广桥凉</li>
              <li>黄钻石：皆川纯子</li>
              <li>蓝柱石：能登麻美子</li>
              <li>紫翠玉：钉宫理惠</li>
            </ul>
          </div>
          <div class="linkContent">
            <a href="http://bangumi.bilibili.com/anime/6434" target="view_window"><img src="../static/images/point.png" alt="link" height="75px" width="100px"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- panel 7 -->
  <div id="panel7">
    <div class="part">
      <a href="http://www.toei-anim.co.jp/tv/dragon_s/" target="view_window"><h1>龙珠超</h1></a>
      <div class="flexContainer">
        <figure>
          <img src="../static/images/2017.10/dragonballsuper.jpg" alt="dragonballsuper" height="600px" width="425px">
          <figcaption>
            <strong>制作人员</strong>
            <ul>
              <li>原作、故事与角色原案：鸟山明</li>
              <li>原案协力：丰太郎（とよたろう，Toyotarō，原笔名Toyble）</li>
              <li>制作人：野崎理（第1话-第53话）、桥爪骏辉（第50话-）（富士电视台）、佐川直子（读卖广告社）、木户睦（第1话-83话）、寺本知资（第26话-第46话）、高见晓（第37话-）、樱田博之（第77话-）</li>
              <li>系列导演：地冈公俊（第1话-第46话）、畑野森生（第33话-第76话）、羽多野浩平（第68话-76话）、长峯达也·中村亮太（第77话-）</li>
              <li>角色设计、作画监修：山室直仪</li>
              <li>音乐：住友纪人</li>
              <li>制作：富士电视台、读卖广告社、东映动画</li>
            </ul>
          </figcaption>
        </figure>
        <div class="content">
          <h2>内容</h2>
          <div class="mainContent">
            <p>《龙珠》新系列动画的背景为孙悟空与魔人布欧的激烈战斗结束后，地球重新恢复和平之后的若干年。与自漫长沉睡中觉醒的破坏神比鲁斯的相遇，加上曾经被人敬畏为“宇宙帝王”的弗利萨的复活，在这些接连迫近悟空等人的威胁之上，更有来自其他宇宙的神秘角色、新的敌人登场！新的冒险开始！</p>
          </div>
          <h2>角色配音</h2>
          <div class="characterContent">
            <ul>
              <li>孙悟空、孙悟饭、孙悟天：野泽雅子</li>
              <li>贝吉塔：堀川亮</li>
              <li>布尔玛、塔依丝、布拉：鹤弘美</li>
              <li>特兰克斯：草尾毅</li>
              <li>小林、弥次郎兵卫、占卜婆婆：田中真弓</li>
              <li>比克：古川登志夫</li>
              <li>撒旦先生：石冢运升</li>
              <li>魔人布欧：盐屋浩三</li>
              <li>雅木茶：古谷彻</li>
              <li>天津饭：绿川光</li>
              <li>饺子、布里夫太太：江森浩子</li>
              <li>龟仙人、贝吉塔王：佐藤正治</li>
              <li>加林仙人、银河王：鱼建</li>
              <li>琪琪、普尔：渡边菜生子</li>
              <p>......</p>
            </ul>
          </div>
          <div class="linkContent">
            <a href="http://www.iqiyi.com/a_19rrhb5shh.html?vfm=2008_aldbd" target="view_window"><img src="../static/images/point.png" alt="link" height="75px" width="100px"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="part">
      <a href="http://ballroom-official.jp/" target="view_window"><h1>舞动青春</h1></a>
      <div class="flexContainer">
        <figure>
          <img src="../static/images/2017.10/room.jpg" alt="room" height="600px" width="425px">
          <figcaption>
            <strong>制作人员</strong>
            <ul>
              <li>原作：竹内友《舞动青春》（讲谈社《月刊少年Magazine》连载中）</li>
              <li>监督：板津匡览</li>
              <li>系列构成、剧本：末满健一</li>
              <li>角色设计：岸田隆宏</li>
              <li>总作画监督：千叶崇洋、本田真之</li>
              <li>动作作画监督：向田隆、梁博雅</li>
              <li>道具设定：小林祐</li>
              <li>主动画师：竹中真吾</li>
              <li>美术设定、美术监督：立田一郎</li>
              <li>色彩设计：佐藤真由美</li>
              <li>摄影监督：田中宏侍</li>
              <li>CG监督：伊东巧右平</li>
              <li>编辑：植松淳一</li>
              <li>音响监督：菊田浩巳</li>
              <li>音乐：林友树</li>
              <li>动画制作：Production I.G</li>
            </ul>
          </figcaption>
        </figure>
        <div class="content">
          <h2>内容</h2>
          <div class="mainContent">
            <p>“热情地舞动青春吧。”</p>
            <p>不知道自己该做些什么才好的平凡初中生·富士田多多良，以某件事为契机而被社交舞蹈的魅力所吸引。</p>
            <p>“只要有一件就好，希望有能称得上是喜欢的事情”为了改变现在的自己，多多良进入了社交舞蹈的世界。</p>
            <p>将多多良的成长以压倒性的“热量”描绘，独一无二的青春舞蹈动画，在此开演！！</p>
          </div>
          <h2>角色配音</h2>
          <div class="characterContent">
            <ul>
              <li>富士田多多良：土屋神葉</li>
              <li>花冈雫：佐倉綾音</li>
              <li>仙石要：森川智之</li>
              <li>兵藤清春：岡本信彦 / 依田菜津</li>
              <li>赤城贺寿：富田美憂 / 富田健太郎</li>
              <li>赤城真子：諸星すみれ</li>
              <li>绯山千夏：赤﨑千夏</li>
            </ul>
          </div>
          <div class="linkContent">
            <a href="http://bangumi.bilibili.com/anime/6325" target="view_window"><img src="../static/images/point.png" alt="link" height="75px" width="100px"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="part">
      <a href="http://www.lovelive-anime.jp/uranohoshi/" target="view_window"><h1>Love Live! Sunshine!!</h1></a>
      <div class="flexContainer">
        <figure>
          <img src="../static/images/2017.10/lovelive.jpg" alt="lovelive" height="600px" width="425px">
          <figcaption>
            <strong>制作人员</strong>
            <ul>
              <li>原作: 矢立肇</li>
              <li>导演: 酒井和男</li>
              <li>分镜: 浅野勝也、古田丈司、遠藤広隆、酒井和男、南川達馬</li>
              <li>演出: 浅野勝也、大久保朋、古田丈司、遠藤広隆、飛田剛、河野亜矢子、酒井和男、南川達馬、安藤尚也</li>
              <li>音乐: 加藤達也</li>
              <li>人物设定: 室田雄平</li>
              <li>系列构成: 花田十輝</li>
              <li>美术监督: 東潤一</li>
              <li>色彩设计: 横山さよ子</li>
              <li>总作画监督: 平山円、藤井智之、室田雄平、村山公輔、齊田博之、佐野恵一</li>
              <li>作画监督: 塩川貴史、江上夏樹、古川英樹、重国勇二、小林明美、尾尻進矢、森本由布希、田村里美、水野辰哉、佐藤誠之、神谷美也子</li>
              <li>原画: 小田裕康、水野辰哉</li>
              <li>製作: KADOKAWA、プロジェクトラブライブ! サンシャイン!!、アスキー・メディアワークス、サンライズ、ランティス</li>
            </ul>
          </figcaption>
        </figure>
        <div class="content">
          <h2>内容</h2>
          <div class="mainContent">
            <p>私立浦之星女子学院，位于静冈县沼津市的海边小镇内浦。在这所坐落在骏河湾角落里的小小的高中里，以二年级学生高海千歌为中心的九位少女，心中怀着大大的梦想而站了出来。</p>
            <p>那就是——成为闪闪发光的“校园偶像”！</p>
            <p>只要不放弃，梦想就一定能实现——</p>
            <p>现在就以那片光芒为目标，勇往直前！</p>
            <p>她们的“大家一起实现的故事”正在开始！</p>
          </div>
          <h2>角色配音</h2>
          <div class="characterContent">
            <ul>
              <li>高海千歌：伊波杏樹</li>
              <li>樱内梨子：逢田梨香子</li>
              <li>松浦果南：諏訪ななか</li>
              <li>黑泽黛雅：小宮有紗</li>
              <li>渡边曜：斉藤朱夏</li>
              <li>津岛善子：小林愛香</li>
              <li>国木田花丸：高槻かなこ</li>
              <li>小原鞠莉：鈴木愛奈</li>
              <li>黑泽露比：降幡愛</li>
            </ul>
          </div>
          <div class="linkContent">
            <a href="http://bangumi.bilibili.com/anime/5062/" target="view_window"><img src="../static/images/point.png" alt="link" height="75px" width="100px"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="part">
      <a href="http://twocartv.jp/" target="view_window"><h1>侧车搭档</h1></a>
      <div class="flexContainer">
        <figure>
          <img src="../static/images/2017.10/tsuukaa.jpg" alt="tsuukaa" height="600px" width="425px">
          <figcaption>
            <strong>制作人员</strong>
            <ul>
              <li>原作：にこいち</li>
              <li>监督：田村正文</li>
              <li>系列构成、剧本：高山克彦</li>
              <li>角色原案：Tiv</li>
              <li>角色设计：泽入祐树</li>
              <li>音响监督：龟山俊树</li>
              <li>音乐：高桥谅</li>
              <li>音乐制作：Lantis</li>
              <li>动画制作：SILVER LINK.</li>
              <li>制作：《侧车搭档》制作委员会</li>
            </ul>
          </figcaption>
        </figure>
        <div class="content">
          <h2>内容</h2>
          <div class="mainContent">
            <p>今天是侧车竞赛女高中生部门表演赛开赛的日子！来自全国各地的“侧车竞赛”淑女们正燃烧著斗志。</p>
            <p>这是一场将本季参赛者们展现在众人面前的重大赛事，虽然在表演赛中不能过度竞争以及强硬超车，不过在正式比赛中将可以期待这些选手高超技术的表现，</p>
            <p>以优胜为目标的女子赛车手们，就此向着终点冲刺！</p>
          </div>
          <h2>角色配音</h2>
          <div class="characterContent">
            <ul>
              <li>宫田百合：古贺葵</li>
              <li>目黑惠：田中爱美</li>
              <li>岛津睦月：斋藤彩夏</li>
              <li>和田初音：生天目仁美</li>
              <li>棚桥教练：三木真一郎</li>
              <li>莳田爱：德井青空</li>
              <li>板垣宁宁：平田真菜</li>
              <li>高田云雀：中村樱</li>
              <li>中岛鸫：长绳麻理亚</li>
              <li>盐原千雪：布里德卡特·塞拉·惠美</li>
              <li>永井美笑：户松遥</li>
              <li>村田泉：七濑彩夏</li>
              <p>......</p>
            </ul>
          </div>
          <div class="linkContent">
            <a href="http://www.acfun.cn/v/ab1480151" target="view_window"><img src="../static/images/point.png" alt="link" height="75px" width="100px"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="part">
      <a href="http://blend-s.jp/" target="view_window"><h1>调教咖啡厅</h1></a>
      <div class="flexContainer">
        <figure>
          <img src="../static/images/2017.10/coffee.jpg" alt="coffee" height="600px" width="425px">
          <figcaption>
            <strong>制作人员</strong>
            <ul>
              <li>原作：《Blend S》中山幸（芳文社《Manga Time Kirara Carat》连载）</li>
              <li>监督：益山亮司</li>
              <li>系列构成：杂破业</li>
              <li>角色设计：奥田阳介</li>
              <li>总作画监督：奥田阳介、佐佐木贵宏、猪口美绪</li>
              <li>道具设计：猪口美绪、油谷阳介</li>
              <li>色彩设计：森田真由</li>
              <li>美术监督：加藤惠</li>
              <li>美术设定：青木薰</li>
              <li>摄影监督：青岛俊明</li>
              <li>音响监督：长崎行男</li>
              <li>音乐：菊谷知树</li>
              <li>动画制作：A-1 Pictures</li>
              <li>制作：Blend·S制作委员会（Aniplex、芳文社、木下集团、Drecom、关西电视台、Contents Seed、罗森）</li>
            </ul>
          </figcaption>
        </figure>
        <div class="content">
          <h2>内容</h2>
          <div class="mainContent">
            <p>来到了有着傲娇、妹系等各种「属性」的咖啡厅，新人店员苺香被店长指派的是「虐待狂」的S属性!?</p>
            <p>努力工作的同时，意外的也让「虐待狂」才能渐渐开花……</p>
            <p>充满欢乐的打工族四格漫画！</p>
          </div>
          <h2>角色配音</h2>
          <div class="characterContent">
            <ul>
              <li>樱之宫莓香：和氣あず未</li>
              <li>日向夏帆：鬼頭明里</li>
              <li>星川麻冬：春野杏</li>
              <li>天野美雨：種﨑敦美</li>
              <li>神崎日照：徳井青空</li>
              <li>提诺：前野智昭</li>
              <li>秋月红叶：鈴木達央</li>
            </ul>
          </div>
          <div class="linkContent">
            <a href="http://bangumi.bilibili.com/anime/6432/" target="view_window"><img src="../static/images/point.png" alt="link" height="75px" width="100px"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="part">
      <a href="http://www.hozukino-reitetsu.com/" target="view_window"><h1>鬼灯的冷彻 第二季</h1></a>
      <div class="flexContainer">
        <figure>
          <img src="../static/images/2017.10/ghost.jpg" alt="ghost" height="600px" width="425px">
          <figcaption>
            <strong>制作人员</strong>
            <ul>
              <li>原作：江口夏实</li>
              <li>监督·AR演出：镝木宏</li>
              <li>副监督：长沼范裕</li>
              <li>系列构成・设定制作：后藤绿</li>
              <li>人设·总作画监督：加藤宽崇</li>
              <li>音响制作：サウンドチーム・ドンファン</li>
              <li>音乐：TOMISIRO</li>
              <li>音乐制作：スターチャイルドレコード</li>
              <li>动画制作：WIT STUDIO</li>
            </ul>
          </figcaption>
        </figure>
        <div class="content">
          <h2>内容</h2>
          <div class="mainContent">
            <p>这是地狱的故事。在一如既往充斥着亡者的地狱，阎魔大王的第一辅佐官·鬼灯，对大王的辅佐自不必说，还有对亡者的呵责、对狱卒的指导、对现世的视察，过着如此忙碌的生活。这样的鬼灯与不论何时都很愉快的伙伴们，再加上鬼灯的青梅竹马以及双子妖怪，还有自由随性的雪鬼等等新面孔，喧闹而又快乐的地狱每一天再次开幕！</p>
          </div>
          <h2>角色配音</h2>
          <div class="characterContent">
            <ul>
              <li>鬼灯：安元洋贵</li>
              <li>阎魔大王：长嶝高士</li>
              <li>桃太郎：平川大辅</li>
              <li>小白：小林由美子</li>
              <li>柿助：后藤广子</li>
              <li>琉璃男：松山鹰志</li>
              <li>唐瓜：柿原彻也</li>
              <li>茄子：青山桐子</li>
              <li>阿香：喜多村英梨</li>
              <li>蜜桃·真纪：上坂堇</li>
              <li>白泽：游佐浩二</li>
              <li>源义经/ 牛若丸：梶裕贵</li>
              <li>别西卜：小西克幸</li>
              <li>小判：杉山纪彰</li>
              <p>......</p>
            </ul>
          </div>
          <div class="linkContent">
            <a href="http://bangumi.bilibili.com/anime/6447/" target="view_window"><img src="../static/images/point.png" alt="link" height="75px" width="100px"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="part">
      <a href="http://mahoyome.jp/" target="view_window"><h1>魔法使的新娘</h1></a>
      <div class="flexContainer">
        <figure>
          <img src="../static/images/2017.10/hanayome.jpg" alt="hanayome" height="600px" width="425px">
          <figcaption>
            <strong>制作人员</strong>
            <ul>
              <li>原作：ヤマザキコレ（Mag Garden刊）</li>
              <li>系列构成、监督：长沼范裕</li>
              <li>剧本：高羽彩</li>
              <li>角色设计：加藤宽崇</li>
              <li>色彩设计：小针裕子</li>
              <li>美术监督：竹田悠介</li>
              <li>摄影监督：铃木麻予</li>
              <li>CGI监督：须贝真也</li>
              <li>特效监修：谷口久美子</li>
              <li>特殊效果：荒畑步美</li>
              <li>2D Works：西谷知惠</li>
              <li>编辑：今井大介</li>
              <li>音乐：松本淳一</li>
              <li>音乐制作：FlyingDog</li>
              <li>音乐制作协力：BASiLiCA</li>
              <li>音响制作：Sound Team Don Juan</li>
              <li>动画制作：WIT STUDIO</li>
              <li>制作：魔法使的新娘制作委员会</li>
            </ul>
          </figcaption>
        </figure>
        <div class="content">
          <h2>内容</h2>
          <div class="mainContent">
            <p>羽鸟智世是15岁的少女。</p>
            <p>不论是能够回去的地方，还是生存的理由，亦或是活下去的手段，她都一无所有。除了一种她与生俱来的特别力量之外。</p>
            <p>将这样的智世收为弟子，以及迎作未来新娘的是，异形的魔法使·艾利亚斯。</p>
            <p>在融入自然、生活了悠久时日的魔法使生活当中，智世一点一点地取回她所重视的某些东西……</p>
            <p>这是一个为了知晓世间美丽，而编织的故事。</p>
          </div>
          <h2>角色配音</h2>
          <div class="characterContent">
            <ul>
              <li>羽鸟智世：種﨑敦美</li>
              <li>艾利亚斯·恩滋华斯：竹内良太</li>
              <li>路兹：内山昂輝</li>
              <li>嘉儿琦：遠藤綾</li>
              <li>安洁莉卡·巴蕾：甲斐田裕子</li>
              <li>赛门·卡拉姆：森川智之</li>
              <li>媞泰妮亚：大原さやか</li>
              <li>奥布朗：山口勝平</li>
              <li>卡达飞尔斯：村瀬歩</li>
            </ul>
          </div>
          <div class="linkContent">
            <a href="http://list.youku.com/show/id_zefbfbdd6a653efbfbd19.html?tpa=dW5pb25faWQ9MTAzNzUzXzEwMDAwMV8wMV8wMQ&refer=baiduald1705" target="view_window"><img src="../static/images/point.png" alt="link" height="75px" width="100px"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="part">
      <a href="http://kekkaisensen.com/" target="view_window"><h1>血界战线 BEYOND</h1></a>
      <div class="flexContainer">
        <figure>
          <img src="../static/images/2017.10/beyong.jpg" alt="beyong" height="600px" width="425px">
          <figcaption>
            <strong>制作人员</strong>
            <ul>
              <li>原作：内藤泰弘（集英社 JUMP COMICS刊）</li>
              <li>监督：高柳滋仁</li>
              <li>脚本：加茂靖子</li>
              <li>角色设计：川元利浩</li>
              <li>生物设计：杉浦幸次</li>
              <li>道具设计：神宫司训之</li>
              <li>特效作画监督：桥本敬史</li>
              <li>美术监督：东润一</li>
              <li>色彩设计：中山志甫子</li>
              <li>摄影监督：古本真由子</li>
              <li>CGI监督：太田光希</li>
              <li>编辑：平木大辅</li>
              <li>音响监督：明田川仁</li>
              <li>音响效果：今野康之</li>
              <li>音乐：岩崎太整</li>
              <li>动画制作：BONES</li>
              <li>制作：血界战线制作委员会</li>
            </ul>
          </figcaption>
        </figure>
        <div class="content">
          <h2>内容</h2>
          <div class="mainContent">
            <p>曾经被称为纽约的城市，仅仅一晚便消失无踪。</p>
            <p>出现在那里的城市“赫尔沙雷姆兹·罗特”。在浓雾的另一侧展开，连结“异世界”与现世的这一地区，变化成了各怀心思的人们所跋扈的“地球上最危险的城市”。</p>
            <p>为了保护这座混沌之城的均衡，持续着不为人知的活动的人们。</p>
            <p>以使用布雷格利德流血斗术的强硬绅士克劳斯·V·莱因赫兹为首领，面带伤疤的克劳斯的左膀右臂史蒂芬，银发不良扎普·伦弗洛与半人半鱼的齐德，不可视的人狼钱·皇与独眼的淑女K·K。以及拥有“诸神的义眼”的青年雷欧……。</p>
            <p>当骚动发生之时，秘密结社·莱布拉必定会现身...</p>
          </div>
          <h2>角色配音</h2>
          <div class="characterContent">
            <ul>
              <li>克劳斯·V·莱因赫兹：小山力也</li>
              <li>莱昂纳多·沃奇（雷欧）：阪口大助</li>
              <li>扎普·伦弗洛：中井和哉</li>
              <li>史蒂芬·A·斯塔菲斯：宫本充</li>
              <li>钱·皇：小林优</li>
              <li>杰特·奥布莱恩：绿川光</li>
              <li>K·K：折笠爱</li>
              <li>吉尔伯特·F·阿尔斯坦：银河万丈</li>
              <li>索尼克：内田雄马</li>
              <li>米歇拉·沃奇：水树奈奈</li>
            </ul>
          </div>
          <div class="linkContent">
            <a href="http://bangumi.bilibili.com/anime/6439" target="view_window"><img src="../static/images/point.png" alt="link" height="75px" width="100px"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="part">
      <a href="http://3lion-anime.com/" target="view_window"><h1>3月的狮子 第二季</h1></a>
      <div class="flexContainer">
        <figure>
          <img src="../static/images/2017.10/3lion.jpg" alt="3lion" height="600px" width="425px">
          <figcaption>
            <strong>制作人员</strong>
            <ul>
              <li>原作：羽海野千花</li>
              <li>监督：新房昭之</li>
              <li>人物设定：杉山延宽</li>
              <li>美术设定：名仓靖博</li>
              <li>美术监督：田村盛挥</li>
              <li>音响监督：龟山俊树</li>
              <li>音乐：桥本由香利</li>
              <li>动画制作：SHAFT</li>
              <li>制作：《3月的狮子》动画制作委员会</li>
            </ul>
          </figcaption>
        </figure>
        <div class="content">
          <h2>内容</h2>
          <div class="mainContent">
            <p>这是有关各式各样的人们取回什么的温馨故事，同时也是有关斗争的故事。</p>
            <p>主人公桐山零，幼时因为意外事故失去了家人，是一个背负着沉重的孤独的17岁将棋棋士。</p>
            <p>独自居住在东京旧市镇桐山零遇见了明里、日向、桃三姐妹，少年桐山零因此发生了改变。</p>
          </div>
          <h2>角色配音</h2>
          <div class="characterContent">
            <ul>
              <li>桐山零：河西健吾</li>
              <li>川本明里：茅野愛衣</li>
              <li>川本日向：花澤香菜</li>
              <li>川本桃：久野美咲</li>
              <li>隈仓健吾：竹内良太</li>
              <li>二海堂晴信：岡本信彦</li>
              <li>幸田香子：井上麻里奈</li>
              <li>高桥勇介：細谷佳正</li>
              <li>岛田开：三木眞一郎</li>
            </ul>
          </div>
          <div class="linkContent">
            <a href="http://bangumi.bilibili.com/anime/6445" target="view_window"><img src="../static/images/point.png" alt="link" height="75px" width="100px"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
